@model IEnumerable<PROPlanner.Models.DataModels.TeamList>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeadCoach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssCoach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamLeader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Goalie1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Goalie2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Defense1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Defense2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Defense3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Defense4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Defense5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Defense6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Defense7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Defense8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offense1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offense2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offense3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offense4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offense5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offense6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offense7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offense8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offense9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offense10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offense11)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offense12)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeadCoach.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssCoach.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamLeader.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Goalie1.PlayerString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Goalie2.PlayerString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defense1.PlayerString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defense2.PlayerString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defense3.PlayerString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defense4.PlayerString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defense5.PlayerString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defense6.PlayerString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defense7.PlayerString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defense8.PlayerString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offense1.PlayerString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offense2.PlayerString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offense3.PlayerString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offense4.PlayerString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offense5.PlayerString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offense6.PlayerString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offense7.PlayerString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offense8.PlayerString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offense9.PlayerString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offense10.PlayerString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offense11.PlayerString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offense12.PlayerString)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
